---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Grid from "../components/Grid.astro";
import ProductCard from "../components/ProductCard.astro";
import Features from "../components/Features.astro";
import CallToAction from "../components/CallToAction.astro";
import TestimonialCard from "../components/TestimonialCard.astro";

// Content Fetching: List four most recent work projects
const products = (await getCollection("products"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);
---

<BaseLayout>
	<div class="flex flex-col gap-20 translate-y-[-80px]">
		<header
			class="hero overflow-hidden relative flex flex-col min-h-[528px] h-[95svh] bg-base-darkest rounded-3xl place-content-center items-center md:mx-8 md:mt-6 p-8 text-white"
		>
			<h1 class="max-w-[20ch] font-normal md:text-center md:text-6xl">
				Custom Packaging that leaves an <strong>impact</strong>
			</h1>
			<div
				class="trusted-by invisible lg:visible absolute bottom-0 py-10 flex gap-12 sm:min-w-[40%] max-w-[90%]"
			>
				<img
					src="./assets/other-logos/neighborhood-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/notes-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/sipn-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/pdl-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/slash-logo.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
				<img
					src="./assets/other-logos/wake-n-bake.svg"
					alt=""
					loading="lazy"
					width="128"
					height="50"
					class="max-h-[72px]"
				/>
			</div>
		</header>

		<main>
			<main class="wrapper space-y-40">
				<Features />
				<section class="space-y-6">
					<header class="flex justify-between items-center">
						<div class="flex flex-col max-w-[50ch]">
							<h3>Best Sellers</h3>
							<p>
								Explore our best selling products across a range of categories
							</p>
						</div>
						<CallToAction href="/products/">View All</CallToAction>
					</header>
					<div class="gallery">
						<Grid variant="offset">
							{
								products.map((product) => (
									<li>
										<ProductCard product={product} />
									</li>
								))
							}
						</Grid>
					</div>
				</section>
				<section id="testimonials">
					<script
						src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
					></script>
					<header class="flex justify-between items-center">
						<div class="flex flex-col max-w-[50ch]">
							<h3>Testimonials</h3>
							<p>Trust is at the core of everything we do</p>
						</div>
					</header>
					<swiper-container slides-per-view="1">
						<swiper-slide
							><TestimonialCard
								companyLogoPath="./assets/other-logos/neighborhood-logo.svg"
								author="John Doe"
								testimonialText="Printing Talks is our go-to, from printing posters, stickers and packages.They are always able to provide the required in a timely manner!"
							/></swiper-slide
						>
						<swiper-slide
							><TestimonialCard
								companyLogoPath="./assets/other-logos/neighborhood-logo.svg"
								author="John Doe"
								testimonialText="Printing Talks is our go-to, from printing posters, stickers and packages.They are always able to provide the required in a timely manner!"
							/></swiper-slide
						>
						<swiper-slide
							><TestimonialCard
								companyLogoPath="./assets/other-logos/neighborhood-logo.svg"
								author="John Doe"
								testimonialText="Printing Talks is our go-to, from printing posters, stickers and packages.They are always able to provide the required in a timely manner!"
							/></swiper-slide
						>
					</swiper-container>
				</section>
			</main>
		</main>
	</div>

	<style>
		.hero {
			background-image: url("./assets/background.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</BaseLayout>
 ../components/LogoSlider.js
