---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

const products = (await getCollection("products")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
  title="Products | Printing Talks"
  desc="Learn about Jeanine White's most recent products"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <section>
        <header>
          <Hero
            title="Products"
            tagline="Design and order a wide range of fully customisable packaging products for your brand."
          />
        </header>
        {
          products.map((product) => (
            <li>
              <PortfolioPreview product={product} />
            </li>
          ))
        }
      </section>
    </main>
  </div>
</BaseLayout>
