---
import MainHead from "../components/MainHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!doctype html>
<html lang="en">
  <MainHead />
  <BaseLayout>
    <h1>Welcome to the Test Page</h1>
  </BaseLayout>
</html>
