---
interface Props {
  title: string;
  tagline?: string;
}

const { tagline, title } = Astro.props;
---

<div
  class="hero p-6 flex flex-col gap-12 max-w-[83rem] mx-auto rounded-2xl bg-slate-600 justify-center"
>
  <div class="hero-text flex flex-col">
    <h1 class="title">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style></style>
