---
interface Props {
  title?: string | undefined;
  desc?: string | undefined;
}

const {
  title = "Printing Talks - Abu Dhabi's Leading Printing and Packaging Factory",
  desc = "Premier Printing &amp; Packaging: Delivering Top-Quality, Innovative Solutions &amp; Unmatched Service for All Your Printing Needs",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={desc} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<meta property="og:type" content="website" />
<link rel="canonical" href="https://www.printingtalks.ae/" />
<meta property="og:url" content="https://www.printingtalks.ae/" />
<meta name="twitter:card" content="twitter-card.png" />
<meta name="robots" content="index, follow" />
<link
  rel="preload"
  href="/assets/fonts/AvenirLTStd-Heavy.otf"
  as="font"
  type="font/otf"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/AvenirLTStd-Medium.otf"
  as="font"
  type="font/otf"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/AvenirLTStd-Roman.otf"
  as="font"
  type="font/otf"
  crossorigin
/>

<title>{title}</title>

<link rel="icon" type="image/webp" href="/favicon.webp" />
<meta name="msvalidate.01" content="D0DD90E61C2F300DB6B1CF92C5A7DF25" />
