---
interface Props {
  companyLogoUrl: string | undefined;
  author: string | undefined;
  testimonialText: string | undefined;
}

const { companyLogoUrl, author, testimonialText } = Astro.props;
---

<div
  class="testimonial-card flex flex-col p-6 min-h-[504px] min-w-[364px] max-w-lg bg-base-dark shadow-lg rounded-2xl relative"
>
  {/* Company Logo */}
  <div class="image-container">
    <img
      src={companyLogoUrl || "assets/testimonial-images/default.svg"}
      alt={`${author}'s company logo`}
      class="h-[96px] mb-8"
    />
  </div>

  {/* Testimonial Text */}
  <blockquote class="text-gray-700 italic mb-4 flex-grow">
    {testimonialText}
  </blockquote>

  {/* Author */}
  <footer class="font-semibold">{author}</footer>
</div>

<style>
  .testimonial-card {
    user-select: none;
  }
</style>
