---
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
interface Props {
	title?: string | undefined;
	desc?: string | undefined;
	nav?: boolean | undefined;
}

const { title, desc, nav } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<MainHead title={title} desc={desc} />
	</head>
	<body>
		{nav !== false ? <Nav /> : null}
		<slot />
		<Footer />
		<style is:global>
			@font-face {
				font-family: Avenir;
				src: url(/fonts/AvenirLTStd-Heavy.otf);
				font-weight: 700;
				font-style: normal;
			}

			@font-face {
				font-family: Avenir;
				src: url(/fonts/AvenirLTStd-Medium.otf);
				font-weight: 500;
				font-style: normal;
			}

			@font-face {
				font-family: Avenir;
				src: url(/fonts/AvenirLTStd-Roman.otf);
				font-weight: 400;
				font-style: normal;
			}
			h1 {
				@apply text-5xl;
			}
			h2 {
				@apply text-4xl;
			}
			h3 {
				@apply text-3xl;
			}
			h4 {
				@apply text-2xl;
			}
			h5 {
				@apply text-xl;
			}
			h6 {
				@apply text-lg;
			}

			.wrapper {
				width: 100%;
				max-width: 83rem;
				margin-inline: auto;
				padding-inline: 1.5rem;
			}
		</style>
	</body>
</html>
