---
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
interface Props {
	title?: string | undefined;
	desc?: string | undefined;
	nav?: boolean | undefined;
}

const { title, desc, nav } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head data-theme="printingTalks">
		<MainHead title={title} desc={desc} />
	</head>
	<body class="text-black bg-base">
		{nav !== false ? <Nav /> : null}
		<slot />
		<Footer />
		<style is:global>
			@font-face {
				font-family: Avenir;
				src: url(/assets/fonts/AvenirLTStd-Heavy.otf);
				font-weight: 700;
				font-style: normal;
			}

			@font-face {
				font-family: Avenir;
				src: url(/assets/fonts/AvenirLTStd-Medium.otf);
				font-weight: 500;
				font-style: normal;
			}

			@font-face {
				font-family: Avenir;
				src: url(/assets/fonts/AvenirLTStd-Roman.otf);
				font-weight: 400;
				font-style: normal;
			}
			h1 {
				@apply text-5xl;
			}
			h2 {
				@apply text-4xl;
			}
			h3 {
				@apply text-3xl;
			}
			h4 {
				@apply text-2xl;
			}
			h5 {
				@apply text-xl;
			}
			h6 {
				@apply text-lg;
			}
			/* Hide the scrollbar for all browsers */
			body::-webkit-scrollbar {
				width: 0.2rem; /* Adjust the width as needed */
			}
			body::-webkit-scrollbar-thumb {
				background-color: transparent; /* Make the scrollbar thumb transparent */
			}
			body::-webkit-scrollbar-track {
				background-color: transparent; /* Make the scrollbar track transparent */
			}
			/* For Firefox */
			body {
				scrollbar-width: thin; /* Adjust the width as needed */
				scrollbar-color: transparent transparent; /* Make the scrollbar thumb and track transparent */
			}
			/* For Internet Explorer and Edge */
			body {
				-ms-overflow-style: none; /* Hide the scrollbar in IE and Edge */
			}
			.wrapper {
				width: 100%;
				max-width: 83rem;
				margin-inline: auto;
				padding-inline: 1.5rem;
				overflow-x: hidden;
			}
			#quote-form-section {
				object-fit: fill;
				background-image: url("/assets/boxes-texture.png");
				overflow: hidden;
			}
		</style>
	</body>
</html>
